@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #373867;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

aside {
    background-color: #AACE9B;
    position: fixed;
    top: 84px;
    width: 300px;
    height: 100%;
  }
nav ul{
    margin-top: 0px;
    padding-right: 40px;
}
nav ul li{
    padding-top: 25px;
    list-style: none;
}

nav ul li a{
    display: block;
}

.nav-img{
    padding-right: 5px;
}

.btn{
    color: #373867;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px; 
}

aside article{
    margin-top: 500px;
}

aside article h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 5px;
    color: #fff;
    font-size: 22px;
}
aside article ul li{
    padding-top: 25px;
    list-style: none;
    color: #373867;
    font-size: 20px;
}