<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Week-06/css/reset.css">
    <link rel="stylesheet" href="/Week-06/css/header.css">
    <link rel="stylesheet" href="/Week-06/css/aside.css">
    <link rel="stylesheet" href="/Week-06/css/content.css">
    <link rel="stylesheet" href="/Week-06/css/footer.css">
    <link rel="stylesheet" href="/Week-06/css/styles.css">
    <link rel="stylesheet" href="/Week-06/css/sign-up.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/assets/imgs/logo-mega-rocket.png" alt="logo mega rocket"/>
        <img class="header-img-menu" src="/assets/imgs/I-menu.png">
    </header>
    <aside>
        <nav>
            <ul>
                <li>
                    <a class="btn" href="index.html">
                        <img class="nav-img" src="/assets/imgs/i-home.svg">Home
                    </a>
                </li>
                <li>
                    <a class="btn" href="sign-up.html">
                        <img class="nav-img" src="/assets/imgs/i-sign-up.svg">Sign Up
                    </a>
                </li>
                <li>
                    <a class="btn" href="login.html">
                        <img class="nav-img" src="/assets/imgs/i-sign-in.svg">Sign In
                    </a>
                </li>
              </ul>
         </nav>
         <article>
            <h2>
                Contact information
            </h2>
            <ul class="aside-ul">
                <li>
                    <img class="nav-img" src="/assets/imgs/i-mail.svg">
                    <a>
                        information@intitled.tld
                    </a>
                </li>
                <li>
                    <img class="nav-img nav-img-phone" src="/assets/imgs/i-phone.svg">
                    <a>
                        (000) 000-0000
                    </a>
                </li>
                <li>
                    <img class="nav-img" src="/assets/imgs/i-home.svg">
                    <a>
                        1234 Somewhere Road #8254 Nashvolle, TN
                    </a>
                </li>
            </ul>
        </article>
    </aside>
    <div class="main-container">
        <main>
            <section class="form-sign-up">
                <h2>
                    Sign up
                </h2>
                <form>
                    <div>
                        <label for="name-sign-up">
                            Name
                        </label>
                        <input id="name-sign-up" type="text" placeholder="Enter name">
                        <div id="error" class="error" class="error"></div>
                    </div>
                    <div>
                        <label for="surname-sign-up">
                            Surname
                        </label>
                        <input id="surname-sign-up" type="text" placeholder="Enter surname">
                        <div id="error2" class="error"></div>
                    </div>
                    <div>
                        <label for="dni">
                            DNI
                        </label>
                        <input id="dni" type="text" placeholder="Enter DNI">
                        <div id="error3" class="error"></div>
                    </div>
                    <div>
                        <label for="date-of-birth">
                            Date of birth
                        </label>
                        <input id="date-of-birth" type="date">
                    </div>
                    <div>
                        <label for="phone">
                            Phone
                        </label>
                        <input id="phone" type="text" placeholder="Enter phone">
                        <div id="error4" class="error"></div>
                    </div>
                    <div>
                        <label for="address">
                            Address
                        </label>
                        <input id="address" type="text" placeholder="Enter address">
                        <div id="error5" class="error"></div>
                    </div>
                    <div>
                        <label for="location">
                            Location
                        </label>
                        <input id="location" type="text" placeholder="Enter location">
                        <div id="error6" class="error"></div>
                    </div>
                    <div>
                        <label for="postal-code">
                            Postal code
                        </label>
                        <input id="postal-code" type="text" placeholder="Enter postal code">
                        <div id="error7" class="error"></div>
                    </div>
                    <div>
                        <label for="email-sign-up">
                            Email
                        </label>
                        <input id="email-sign-up" type="text" placeholder="Enter email">
                        <div id="error8" class="error"></div>
                    </div>
                    <div>
                        <label for="password">
                            Password
                        </label>
                        <input id="password" type="password" placeholder="Enter password">
                        <div id="error9" class="error"></div>
                    </div>
                    <div class="btn-pss-reverse">
                        <div>
                            <label for="password-repeat">
                                Repeat password
                            </label>
                            <input id="password-repeat" type="password" placeholder="Enter password">
                            <div id="error10" class="error"></div>
                        </div>
                        <div class="form-button btn-sign-up">
                            <button type="button" id="btn" class="button">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <footer>
            <a>
                <img src="/assets/imgs/i-linkedin.svg">
            </a>
            <a>
                <img src="/assets/imgs/i-facebook.svg">
            </a>
            <a>
                <img src="/assets/imgs/i-instagram.svg">
            </a>
            <p>
                Copyright &copy; 2023 Radium Rocket. All rights reserved.
            </p>
        </footer>
    </div>
    <script src="/Week-06/js/sing-up.js"></script>
</body>
</html>