aside {
    display: none;
    position: fixed;
    top: 85px;
    width: 300px;
    height: 100%;
    background-color: #AACE9B;
  }

nav ul {
    margin-top: 0px;
    padding-right: 40px;
}

nav ul li {
    margin-top: 25px;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a {
    display: block;
}

aside article {
    margin-top: 400px;
}

aside article h2 {
    text-align: center;
    color: #fff;
    text-decoration-color: #fff;
    font-size: 22px;
}

aside article img {
    margin-right: 0px; 
}

aside article ul li {
    padding-top: 25px;
    color: #373867;
    list-style: none;
    font-size: 20px; 
    text-align: left;
}