
.home {
    text-align: center;
}

.home article {
    padding-top: 30px;
}

.home article h1 {
    padding-top: 50px;
    font-size: 30px;
    color: #373867
}

.home article .welcome {
    margin-top: -15px;
    text-transform: uppercase;
    color: #49A37B;
    font-size: 20px;
}

.home article p {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.home img {
    width: 90%;
}

.features {
    margin-top: 30px;
    margin-bottom: 30px;
}

.features h2{
    margin-bottom: 20px;
}

.features h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
}

.features-container {
    display: flex;
    flex-direction: column;
}

.features-flex {
    display: flex;
    align-items: center;
    margin-bottom: 13px
}

.features article img {
    margin-left: 50px;
    margin-top: 15px;
    width: 26px;
    height: 26px;    
}

.features article {
    display: flex;
    flex-direction: column;
}

.features article p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.about h2 {
    padding-bottom: 14px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    text-align: justify;
}

.about-flex img {
    margin-bottom: 15px;
}

.about div img {
    width: 90%;
}

.about p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 39px;
    font-size: 15px;
}

.contact h2{
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: 0;
}

form input {
    padding: 5px;  
    width: 300px;
    border: 1px solid #373867;
    border-radius: 3px;
}

form button {
    display: block;
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    background-color: #AACE9B;
    border: 1px solid #AACE9B;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

form select {
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 300px;
}

form textarea {
    padding: 5px;
    width: 300px;
    height: 165px;
}

form button:hover {
    background-color: #fff;
    color: #AACE9B;
    cursor: pointer;
}

.activities h2 {
    margin-bottom: 35px;
}

.activities-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.activities ul li {
    padding-right: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
}

.activities img{
    margin-bottom: 30px;
    margin-top: 20px;
    width: 90%;
}

.memberships table {
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
}

.memberships table .fila-names {
    height: 40px;
    background-color: #D9D9D9;
    text-align: center;
}

.memberships table .fila-2 {
    height: 40px;
    text-align: center;
}

.memberships table .table-align {
    min-width: 45px; 
}

@media only screen and (min-width: 601px){

    main{
        margin-top: 90px;
    }

    .home{
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .home h1{
        font-size: 40px;
    }

    .home article{
        margin-top: -70px;
    }

    .home img{
        width: 45%;
        height: 290px;
    }

    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features article img{
        margin-left: 20px;
    }

    .features-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 95%;
    }

    .features article{
        max-width: 50%;
    }

    .about-container{
        width: 95%;
        margin: 30px auto;
    }

    .about-flex{
        flex-direction: row;
    }

    .flex-1 img{
        margin-right: 16%;
    }

    .flex-2{
        flex-direction: row-reverse;
    }

    .flex-2 img{
        margin-left: 16%;
    }

    .about article img{
        width: 42%;
    }

    .about article p{
        width: 100%;
        font-size: 15px;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }

    form{
        flex-direction: row;
        align-items: start;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    form input{
        width: 250px; 
        margin-right: 30px;
    }

    form select{
        width: 250px;
    }

    form textarea{
        width: 250px;
    }

    .form-textarea{
        margin-top: -23px;
    }

    .form-button{
        display: flex;
        justify-content: end;
    }
}

@media only screen and (min-width: 1025px){

}