header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    height: 70px;
    background-color: #373867;
}

.header-img-menu{
    margin-right: 25px;
}
