@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

h2 {
    margin-top: 64px;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #49A37B;
    text-underline-offset: 10px;  
}

p {
    font-size: 12px;
}

.nav-img {
    padding-right: 5px;
}

.nav-img-phone {
    float:left;
}

.btn {
    padding: 10px;
    background-color: #fff;
    color: #373867;
    border: 1.5px solid black;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    color: #49A37B;
}