main{
    margin-top: 90px;
}

.back{
    margin-left: 10px;
    margin-top: -735px;
    text-decoration: none;
    text-align: center;
}

.form-sign-up h2 {
    text-decoration: none;
}

.btn-sign-up {
    display: flex;
    justify-content: center;
    max-height: 70px;
}

.error{
    margin-top: 8px;
    font-size: 15px;
    max-width: 240px;
    color: #ee2222;
}

.red{
    border: 1px solid #ee2222;
}

@media only screen and (min-width: 601px) {

    .form-sign-up{
        margin: 8vh auto;
    }

    .form-sign-up form {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-button button {
        display: block;
    }

    .btn-pss-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .btn-sign-up {
        margin-right: 160px;
        margin-top: 10px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    main{
        margin-left: 300px;
        margin-top: 170px;
    }

    .back{
        display: none;
    }

    .form-sign-up{
        max-width: 630px;
        margin: 0 auto;
        padding: 30px 0;
        padding-left: 30px;
        box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.5);
    }
}