main {
    margin-top: 90px;
}

.form-sign-up h2 {
    text-decoration: none;
}

.btn-sign-up {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 601px) {
    main {
        display: flex;
        align-items: center;
        min-height: 84.5vh;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-sign-up {
        margin: 0 auto;
    }

    .form-sign-up form {
        max-width: 600px;
    }

    .form-button button {
        display: block;
    }

    .btn-pss-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .btn-sign-up {
        margin-right: 160px;
        margin-top: 10px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .form-sign-up {
        padding: 50px;
        padding-right: 20px;
        box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.5);
    }
}